.header {
    margin-bottom: 2rem;
    max-width: 16em;
}

.intro, .side, .fun {
    width: 100%;
    max-width: 35em;
    margin-bottom: 1.5rem;
}



ul li {
	line-height: 1.5em;
	padding-left: 2rem;
	background-image: url(../../assets/icons/caret-right-solid.svg);
	background-position: 0 0;
	background-size: 2.5rem 1.6rem;
	background-repeat: no-repeat;
}
