.header {
    font-size: 3.5em;
    line-height: 1.2em;
    margin-top: 96px;
}

.intro, .side, .fun {
    margin-top: 48px;
    width: 30em;
}

ul li {
	line-height: 1.5em;
	padding-left: 2rem;
	background-image: url(../../assets/icons/caret-right-solid.svg);
	background-position: 0 0;
	background-size: 1.6rem 1.6rem;
	background-repeat: no-repeat;
}

/* #F7F6F5 */