<article>
    <section class="header">
        <h1>
            <p>Hi, I'm Andrew Abril.</p>
            <p>A software developer at</p>
            <p>MacKay Shields.</p>
        </h1>
    </section>

    <section class="intro">
        <p>
            Hi, my name is Andrew Abril and I currently work at MacKay Shields,
            an asset management firm in New York City. At MacKay, I am the dev 
            lead of the fixed income side of the business where we focus on
        </p>
        <ul>
            <li>Building applications and reporting for the front and middle office</li>
            <li>Integreating internal and vendor applications into existing processes</li>
            <li>Creating firm-wide automation</li>
        </ul>
    </section>

    <section class="side">
        <p>
            On the side, I have a real estate investing business with my wife and 
            like to build tools to help us find and analyze fix and flip markets 
            and prospects.
        </p>
    </section>

    <section class="fun">
        <p>
            For fun, I like to learn new technologies, go to the gym, 
            snowboard, cook and travel. My latest trip was 4.5 months long, seeing 
            10 countries and 20 cities.
        </p>
    </section>
</article>
