.header {
    margin-bottom: 2rem;
}

.header-secondary {
    color: var(--secondary-color);
}

.intro, .side, .fun {
    width: 100%;
    max-width: 35em;
    margin-bottom: 1.5rem;
}

ul li {
	line-height: 1.5em;
	padding-left: 2em;
	background-image: url(../../assets/icons/caret-right-solid.svg);
	background-position: 0 0;
	background-size: 2.5em 1.6em;
    background-repeat: no-repeat;
    max-width: 20em;
}

ul {
    padding-top: 0.5rem;
}

li {
    margin-bottom: 0.5rem;
}