.contact-header {
    /* background: var(--primary-color); */
    width: 100%;
}

.contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.contact-item {
    border: 1px solid #e5e5e5;
    padding: 15px 24px;
    margin-bottom: 24px;
    width: 100%;
}

.input-field {
    color: #aaa;
}

textarea {
    height: 100px;
    max-width: 100%;
}

.submit {
    background-color: var(--secondary-color);
    border: none;
    color: #fff;
    font-size: 1em;
    padding: 10px 50px;
    text-transform: uppercase;
    font-weight: normal;
}

.anti-spam {
    display: none;
}