.contact-header p {
    margin-bottom: 2em;
}

.contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 35em;    
}

.contact-item {
    border: 1px solid #e5e5e5;
    padding: 15px 24px;
    margin-bottom: 24px;
}

.input-field {
    color: #aaa;
}

textarea {
    height: 200px;
}

.submit {
    background-color: var(--secondary-color);
    border: none;
    color: #fff;
    font-size: 1em;
    padding: 10px 50px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 0;
}

.anti-spam {
    display: none;
}