.resume, .about, .contact, .logo {
    padding: 4vw 4.8vw 4vw 4.8vw;
    flex-grow: 0;
    width: 100%;
}

.about {
    /* color: var(--tertiary-color); */
}

.about, .contact  {
    bottom: 0;
}

.resume, .logo, .icons {
    top: 0;
}

.contact-icon {
    width: 40px;
}

.social-media {
    margin-top: 30vh;
    flex-grow: 1;
    /* border: 1px solid tomato; */
    /* align-self: flex-end; */
    /* bottom: 50%; */
    /* display: flex; 
    flex-direction: column;
    justify-content: center; */
    /* margin-bottom: 10vh; */
    /* position: fixed; */
}

.social-media-icon {
    width: 1.5rem;
    margin-bottom: 12px;
}

.nav {
    /* border: 1px solid tomato; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* height: 100vh; */
    /* background-color: var(--primary-color); */
    /* color: white; */
    /* width: 150px; */
}

.nav-item {
    /* border: 1px solid teal; */
}

.nav-left {
    order: 0;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
}

.nav-right {
    /* border-left: 1px solid white; */
    order: 2;
}

.wrapper {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
}

:host ::ng-deep [portfolio-content] {
    order: 1;
    padding: 1rem;
    display: block;
    width: 100%;
}