<!-- <div class="header">
    <div class="logo">Andrew Abril</div>
    
</div> -->

<div class="nav-wrap">
    <ul class="nav">            
        <li class="nav-item"><a href="../../assets/docs/Andrew_Resume_Web.pdf" target="_blank">resume</a></li>
        
        <div class="icons">
            <li class="icon">
                <a href="https://www.linkedin.com/in/andrewabril" target="_blank">
                    <img src="../../assets/icons/linkedin-in-brands.svg">
                </a>
            </li>
            <li class="icon">
                <a href="https://github.com/andrewabril" target="_blank">
                    <img src="../../assets/icons/github-brands.svg">
                </a>
            </li>
        </div>
        <li class="nav-item about">about</li>
    </ul>
</div>