/* You can add global styles to this file, and also import other style files */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

a, a:visited, a:hover, a:active, a:focus {
	color: inherit;
	outline: none;
	text-decoration: none;
}

/* Application CSS */

/*

Font scale:
12px
14px
16px
18px
20px
24px
30px
36px
48px
60px
72px

Spacing scale:
4px
8px
12px
16px
24px
32px
48px
64px
96px
128px
192px
256px
384px
512px
640px
768px

*/

:root {
	--primary-color: hsl(204, 69%, 25%);
	/* --primary-color: hsl(204, 69%, 35%); */
	/* --primary-color: hsl(190, 80%, 33%); */
	--primary-color-light: hsl(204, 50%, 35%);
	/* --secondary-color: rgb(48, 170, 157); */
	--secondary-color: hsl(348, 43%, 55%);
	/* --tertiary-color: hsl(348, 43%, 55%); */
	--tertiary-color: hsl(22, 85%, 66%);

	--white: hsl(210, 0%, 100%); /*#F7F6F5;*/
	--gray-light: hsl(210, 0%, 75%);
	--gray: hsl(210, 0%, 50%);
	--gray-dark: hsl(210, 0%, 25%);
	
	--page-padding: 2em;
	--social-media-icon-size: 1.5rem;
	--social-media-icon-margin: 0.5rem;
	--nav-width: 10vw;
}

body, input, button, textarea, select {
	font-family: 'Roboto';
}

body {
	/* background-image: url(../src/assets/images/circuit-board.svg); */
	/* background-color: var(--primary-color); */
	/* color: var(--white); */
}

h1 {
	color: var(--primary-color);
	font-size: 1.5em;
    line-height: 1.2em;
    font-weight: 600;
}

h2 {
    color: var(--secondary-color);
}

p {
	align-items: baseline;
	line-height: 1.5em;
}

img {
	width: 100%;
}

@media (min-width: 750px) {
	h1 {
		font-size: 2em;
	}
}

@media (min-width: 1000px) {
	h1 {
		font-size: 3em;
	}
}