/* You can add global styles to this file, and also import other style files */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

a, a:visited, a:hover, a:active, a:focus {
	color: inherit;
	outline: none;
	text-decoration: none;
}

/* Application CSS */

/*

Font scale:
12px
14px
16px
18px
20px
24px
30px
36px
48px
60px
72px

Spacing scale:
4px
8px
12px
16px
24px
32px
48px
64px
96px
128px
192px
256px
384px
512px
640px
768px

*/

:root {
	--primary-color: rgb(33, 106, 157);
	--secondary-color: rgb(48, 170, 157);
	--tertiary-color: rgb(190, 91, 111);
}

body {
	font-family: 'Roboto';
}

input, button, textarea, select {
	font-family: 'Roboto';
}

h1 {
	/* font-size: 48px;
	line-height: 1;
	margin: 16px 0 16px; */
}

p {
	/* width: 30em; /* 20-35em is ideal */
	align-items: baseline;
	line-height: 1.5em;
}

img {
	width: 100%;
}

